* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: darkred
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    height: 100vh;
    gap: 2rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(34, 91, 246);
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

button:hover{
    background-color: darkblue;
    color:black;
}

/* **************************************
Criando estilo da modal login e cadastro
*****************************************/

.content-modal-login, .content-modal-register{
    background: rgb rgb(201, 25, 25);
    padding: 2rem;
    border-radius: 0.5rem;
}

.hide-modal{
    opacity: 0;
    visibility: hidden;
}

.show-modal{
    opacity: 1;
    visibility: visible;
}

.modal-login, .modal-register{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 6, 6, 0.702)
    transition: all 350ms ease-in-out;
}
/***********************************************************************
     Estilo dos botões
************************************************************************/


.btn-login-open{
    border: 0.3rem solid rgb rgb(247, 90, 90);
    background-color: rgb(129, 196, 255);
    color: rgb rgb(134, 43, 219);
}
.btn-login-open:hover {
    background: rgba(255, 6, 6, 0.702);
    color: rgb black
}

/******************************************
     Estilo do form e input
********************************************/

    .content-form{
        display:flex
        ?
        ?
        ?
    }

.input input {
    outline: none;
    border: none;
    background: transparent;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    border-bottom: 0.5rem solid rgb(3, 3, 254);
}